lt-gray = #ecf0f1
red = #c0392b


roboto()
  font-family 'Roboto', sans-serif

body
  color #333
  background-color lt-gray
  background-attachment fixed
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  padding 0
  margin 0
  roboto()

::-moz-selection
  background red
  color #FFF
  text-shadow none

::selection
  background red
  color #FFF
  text-shadow none


a {
    color: #C0392B;
}

.new-task
  box-shadow 1px 1px 4px rgba(0, 0, 0, 0.2)
  max-width 80%
  margin 10px auto
  background white

.container {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  margin: 10px auto;
  background: white;
}

header {
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 4em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
  font-weight: 300;
  border-bottom: 5px solid red;
  font-family: 'Passion One', cursive;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  background: transparent;
  border: none;
  width: 100%;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete
  font-weight bold
  background none
  font-size 1em
  border none
  position relative

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

.film-listing
  justify-content space-between
  display flex
  flex-wrap wrap

.film-listing span
  display block

.name
  width 30%
  font-weight 700
  color red;
  font-size 1.6em

.year
  width 10%

.studio
  width 20%

.rating
  width 20%

.controls
  width 8%

.table-header
  span
    padding-bottom 5px
    border-bottom 2px solid red
    font-size 1.2em
    font-weight 700
    color #333

.details-modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: -100%;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  transition: all 0.4s ease;
}

.details-modal.open {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.detail-modal-close {
  position: absolute;
  font-size: 7em;
  color: #FFF;
  background: #000;
  line-height: 50px;
  padding: 29px;
  top: 0;
  right: 0;
  cursor: pointer;
}

.detail-text {
  width: 40%;
  position: absolute;
  top: 10%;
  right: 10%;
  background: rgba(255,255, 255, 0.9);
  padding: 40px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.detail-text p {
  font-size: 1.8em;
  line-height: 1.4;
}

.detail-text > h3 {
  font-size: 3em;
}

.poster {
  position: absolute;
  top: 10%;
  left: 10%;
  max-width: 30%;
  border: solid 3px #FFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

input {
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

input[type="submit"] {
    font-size: 2.0em;
    font-family: 'Passion One', cursive;
    background: #c0392b;
    text-align: center;
    color: #FFF;
    padding: 20px 0;
    margin: 20px 0;
}