@import 'rupture'
@import '/styl/_vars'
@import '/styl/_form'

rupture.scale = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'


roboto()
  font-family 'Roboto', sans-serif

passion()
  font-family 'Passion One', cursive

html
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit


body
  color black
  background-color lt-gray
  background-attachment fixed
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  padding 0
  margin 0
  roboto()

::-moz-selection
  background red
  color #FFF
  text-shadow none

::selection
  background red
  color #FFF
  text-shadow none

a
  color red


.new-task
  background white
  padding 20px
  box-shadow z1


.container
  box-shadow z1
  margin 10px auto
  background white
  +above('xl')
    max-width 90%
  +above('hd')
    max-width 80%

header {
  padding: 20px 15px 15px 15px;
  position: relative;
  width 80%
  margin 0 auto

}

#login-buttons
  display block

h1
  font-size: 4em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
  font-weight: 300;
  border-bottom: 5px solid red;
  passion()

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete
  font-weight bold
  background none
  font-size 1em
  border none
  position relative

li
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
  &:nth-child(odd)
    background-color: #EEE;


.film-listing
  justify-content space-between
  display flex
  flex-wrap wrap

.film-listing span
  display block

.name
  width 30%
  font-weight 700
  color red;
  font-size 1.6em

.year
  width 7%

.studio
  width 15%

.rating
  width 8%
  text-align center

.director
  width 12%

.controls
  width 12%
  text-align right
  .delete
    color black
    font-size 30px
    padding 0
    &:hover
      color red
  svg
    cursor pointer
    path
      fill black
    &:hover
      path
        fill red

.table-header
  background #FFF !important
  span
    padding-bottom 5px
    text-align left
    border-bottom 2px solid red
    font-size 1.2em
    font-weight 700
    color #333

.details-modal
  background-color #FFF
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: -100%;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: all 0.4s ease;
  box-shadow z5
  &.open
    left: 0;
    opacity: 1;
    visibility: visible;
  .detail-modal-close
    position: absolute;
    font-size: 7em;
    color: #FFF;
    background: #000;
    line-height: 50px;
    padding: 29px;
    top: 0;
    right: 0;
    cursor: pointer;
  .detail-text
    background: rgba(255,255, 255, 0.9);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width 100%
    +above('s')
      width: 40%;
      position: absolute;
      top: 10%;
      right: 10%;
      padding: 40px;
      p
        font-size: 1.8em;
        line-height: 1.4;
      > h3
        font-size: 3em;

.poster
  position absolute
  top 10%
  left 10%
  max-width 30%
  border solid 3px #FFF
  box-shadow 1px 1px 4px rgba(0, 0, 0, 0.2)

header .hide-completed
  float right

.toggle-private
  margin-left 5px

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }
}

.form-title
  font-size 48px

.film-edit
  position fixed
  background #FFF
  padding 20px
  z-index 10
  box-shadow 1px 1px 4px rgba(0, 0, 0, 0.2)
  visibility hidden
  opacity 0
  transition all 0.2s ease
  box-shadow z2
  left: 25%;
  right: 25%;
  top: 10%;
  transform: translateX(130%)
  &.open
    visibility visible
    opacity 1
    transform: translateX(0)
  .edit-modal-close
    cursor pointer
    font-size: 38px;
    position: absolute;
    top: 5px;
    right: 8px;
    line-height: 22px;